html,body{
	height: 100%;
}

body{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
/* 表单设置（宽，最大宽，内边距，外边距居中） */
.form-signin{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

/* 表单的复选框设置 */
.form-signin .checkbox{
	font-weight: 400;
}

/* 表单的文本框设置(位置，宽高) */
.form-signin .form-control{
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

/* 表单的文本框聚焦兵设置z轴的高度 */
.form-signin .form-control:focus{
	z-index: 2;
	background-color: #D8BFD8;
}

/* 表单的文本框email(边框的右(左)下角的圆角数) */
.form-signin input[type="email"]{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
/* 表单的password文本框设置 */
.form-signin input[type="password"]{
	margin-bottom: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius:0;
}