body{
	margin:0;
	padding: 0;
	position: relative;
}
#form{
	width: 990px;
	position: relative;
    left: 450px;
}

#input1{
	width: 300px;
    position: relative;
    left: 1100px;
    top: 35px;
}

#imgs{
	position: relative;
    left: 1410px;
    top: -25px;
}

#body{
  position: relative;
  right: 200px;
}

#select{
	width: 330px;
	position: relative;
	left: 660px;
	bottom: 42px;
	position: relative;
    left: 1100px;
}

#button1{
	position: relative;
	left: 450px;
    top: 75px;
}

#button{
	position: relative;
    left: 450px;
}

#button2{
	width: 180px;
	position: relative;
    left: 450px;
    bottom: 15px;
}

#imgHome{
	position: relative;
	top: 1220px;
}

#logo{
	position: relative;
	left: 219px;
	color: red;
	background-color: #f5ffef;
	text-align: center;
}
#home{
	position: relative;
    top: 30px;
    left: 80px;
}

#home #exit{
	position: absolute;
	left: 1250px;
}

#htm{
	position: relative;
    left: 550px;
    top: 60px;
}

#span1{
	position: relative;
	left: 630px;
	bottom: 43px;
}

#ye{
	width: 220px;
	position: relative;
	left: 630px;
	bottom: 53px;
}

